.dc-chart g.row text {
    fill: black;
    font-size:0.8em;
}

.dc-chart .pie-slice {
    fill:black;
}

.x-axis-label{
    font-size:0.8em;
}

.dc-chart g.selected path {
    stroke-width:1px !important;
}

#rc-3w-where {
    height:400px;
    width:100%;
}

.rc-3w-viz{
    width:100%;
}

#wheretitle{
    padding-bottom:12px;
}

#header{
    padding-bottom:20px;
    border-bottom-color: #dddddd;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin-bottom:20px;
}

.container{
    padding-bottom:20px;
}

#reset{
    background-color:#03a9f4;
    border-color:#03a9f4;
}

.colheight{
    height:550px;
}

.hdx-3w-info{
    padding:5px;
    background-color:white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    color:#03a9f4;
    font-size:2em;
 }

 .margintop20{
    margin-top:20px;
 }