.dc-chart g.row text {
    fill: black;
    font-size:0.8em;
}

.dc-chart .pie-slice {
    fill:black;
}

.x-axis-label{
    font-size:0.8em;
}

.dc-chart g.selected path {
    stroke-width:1px !important;
}

#rc-3w-where {
    height:400px;
    width:100%;
}

.rc-3w-viz{
    width:100%;
}

#wheretitle{
    padding-bottom:12px;
}

#header{
    padding-bottom:20px;
    border-bottom-color: #dddddd;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin-bottom:20px;
}

.container{
    padding-bottom:20px;
}

#reset{
    background-color:#7F1416;
    border-color:#7F1416;
    width:60px;
}

.colheight{
    height:550px;
}

.hdx-3w-info{
    padding:5px;
    background-color:white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    color:#7F1416;
    font-size:2em;
 }

 .margintop20{
    margin-top:20px;
 }

 .heightfixed{
    height:300px;
 }

 #logo{
    padding-left:20px;
    margin-top:20px;
    height:32px;
    background-image: url('../images/Logo - Nepal Shelter Cluster.jpg');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: right;
 }

 #count-info{
    text-align:right;
 }

 #loading{
    text-align:center;
 }

.btn {
    background-color:#7F1416;
    border-color:#7F1416;
}

.btn:hover {
    background-color:#7F1416;
    border-color:#7F1416;
 }

 #district_name {
    margin:0px;
 }

table { 
    table-layout: fixed;
    width:100%;
}

th {
   font-size:1em;
   padding-bottom:10px;
   border-bottom-width:1px;
   border-bottom-style:solid;
}

td {
   font-size:1em;
   padding-top:5px;
   padding-bottom:5px;
}

.datarow:hover {
    background-color:#ffeeee; 
}

.highlight {
    background-color:#ffeeee;
}

 .number {
    text-align:right;
 }

 .damage {
    color:#7F1416;
 }

 a {
    color:#7F1416;
 }

 .legend {
    line-height: 18px;
    background-color:white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    color:steelblue;
    font-size:1em;
    padding:5px;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}